$primary: #02010A;
$secondary: #120F26;
$text: #c392ef;
$highlight: #50fa7b;

.popover-content {
  display: flex;
  gap: 0.75rem;
  padding: 0.625rem;
  
  background-color: $primary;
  border-radius: 0.375rem;
  
  > a {
    display: flex;
    align-items: center;
    
    color: $text;
    
    transition: color 0.3s ease-in-out;
    
    &:hover {
      color: $highlight;
    }

    > * {
      width: 1rem;
      height: 1rem;
    }
  }
}

.popover-arrow {
  fill: $primary;
}
