@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url('/fonts/FiraCode-VF.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Raleway-Regular.woff2') format('woff2');
}

@property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

@keyframes spin {
  to {
    --bg-angle: 180deg;
  }
}

$primary: #02010A;
$secondary: #120F26;
$title: #8625df;
$text: #c392ef;
$highlight: #50fa7b;
$highlightDarker: #6edc78b3;
$error: #ff5555;
$glass: linear-gradient(to left bottom, rgba(0, 0, 5, 0.6), rgba(10, 4, 20, 0.8), rgba(0, 0, 5, 0.6));
$textDarker: #9664af;
$coolgrey: #8690B3;
$lavender: #E6F0FF;
$blue: #234fff;
$alert: #DBF227;

$xs: 460px;
$sm: 580px;
$md: 750px;


.markdown {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 0.875rem;
  margin-bottom: 1.5rem;

  h1, h2, h3 {
    margin-top: 1.5rem;
  }

  h1 {
    font-size: 2rem;
  }
  
  h2, h3 {
    font-size: 1.5rem;
  }

  h4, h5, h6 {
    font-size: 1rem;
    margin-top: 1rem;
  }

  blockquote {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-left: 0.25rem solid #8625df;
    border-radius: 0.375rem;
  }

  background-color: rgba(5, 2, 25, 0.4);
  border: 1px solid rgba(30, 20, 50, 0.4);
  border-radius: 0.375rem;

  > * {
    width: fit-content;
  }

  @media (min-width: 460px) {
    padding: 1.25rem;
  }

  @media (min-width: 580px) {
    padding: 2rem;
    border: 1px solid rgba(30, 20, 50, 0.8);
  }
}