@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Fira Code';
        font-style: normal;
        font-weight: 100 700;
        font-display: swap;
        src: url('public/fonts/FiraCode-VF.woff2') format('woff2');
    }

    @font-face {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('public/fonts/Raleway-Regular.woff2') format('woff2');
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-bold;
    }

    h1, h2 {
        @apply text-2xl sm:text-3xl xl:text-4xl
    }

    h3, h4, h5, h6 {
        @apply text-xl sm:text-2xl xl:text-3xl
    }
}

@layer utilities {
    .codev-dialog-description strong {
        @apply mx-0.5 font-semibold text-green-800;
    }

    .codev-home-section {
        @apply flex flex-col p-8 sm:p-12 lg:p-20;
    }
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotateLight {
    from {
        --rotate: 0turn;
    }
    to {
        --rotate: 1turn;
    }
}

:root {
    --nav-size-base: 3.25rem;
}

body {
    background-color: theme('colors.purple.900');
    color: theme('colors.pink.800');
    font-family: 'Raleway';
}

h1 {
    color: theme('colors.purple.300')
}

.logo {
    background-image: conic-gradient(
        from var(--rotate) at 35% 10%,
        theme('colors.purple.300') 45%,
        theme('colors.pink.700'),
        theme('colors.purple.300') 65%
    );

    font-weight: 800;
    font-size: 1.25rem;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: rotateLight 2.825s ease-in-out infinite;
}

.nav-size {
    height: var(--nav-size-base);
}