@use "../../styles/index.scss" as styles;

[cmdk-root] {
  position: fixed;
  top: calc(50% - 200px);
  left: calc(50% - 150px);

  height: 400px;
  width: 300px;

  padding: 0.75rem;

  border-radius: 0.75rem;
  overflow: hidden;

  border: 1px solid rgba(49, 46, 129, 0.1);
  box-shadow: 0px 0px 2px rgba(129, 140, 248, 0.3);
  transition: transform 100ms ease-in-out;

  background: styles.$glass;

  backdrop-filter: blur(4px);

  .commands_header {
    width: 100%;
    display: flex;
    align-items: center;

    gap: 0.75rem;
    padding: 1.25rem 0.75rem;
    margin-bottom: 0.75rem;

    > button {
      color: styles.$text;
      transition: all 250ms ease-in-out;

      &:hover {
        color: styles.$title;
        transform: rotate(90deg);
      }

      > * {
        line-height: 0px;
        height: 1.25rem;
        width: 1.25rem;
      }
    }
  }

  @media screen and (min-width: styles.$xs) {
    left: calc(50% - 210px);

    width: 420px;
  }
  
  @media screen and (min-width: styles.$md) {
    left: calc(50% - 250px);

    width: 500px;
  }
}

[cmdk-input] {
  width: 100%;
  padding: 0.625rem;

  font-family: 'Raleway';
  font-size: 0.925rem;
  font-weight: 600;
  letter-spacing: 1px;
  
  color: styles.$text;
  background: rgba(09, 07, 26, 0.8);

  border: 1px solid rgba(129, 140, 248, 0.05);
  border-radius: 0.5rem;
  outline: none;

  &::placeholder {
    color: rgba(129, 140, 248, 0.2);
  }
}

[cmdk-item] {
  height: 2.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 0 1rem;
  
  font-size: 0.875rem;
  border-radius: 8px;
  
  transition: all 250ms ease-in-out;
  cursor: pointer;
  content-visibility: auto;
  user-select: none;
  will-change: background, color;
  
  &:hover {
    color: styles.$title;
  }

  &:active {
    transition-property: background;
    background: styles.$primary;
  }
  
  .commands_info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
  }

  .commands_keys {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    > kbd {
      padding: 0.25rem 0.5rem;
      background-color: styles.$secondary;
      border: 1px solid rgba(styles.$primary, 0.6);
      border-radius: 0.25rem;
    }
  }

  & + [cmdk-item] {
    margin-top: 0.25rem;
  }
}

[cmdk-list] {
  max-height: 300px;
  overflow: auto;

  overscroll-behavior: contain;
  transition: 100ms ease-in-out;
  transition-property: height;

  overflow-y: auto;
  
  scrollbar-width: thin;
  scrollbar-color: styles.$text transparent;
  
  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: styles.$text;
    border-radius: 6px;
  }
}

[cmdk-group] {
  margin-bottom: 1rem;
}

*:not([hidden]) + [cmdk-group] {
  margin-top: 8px;
}

[cmdk-group-heading] {
  user-select: none;
  font-size: 14px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

[cmdk-empty] {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  white-space: pre-wrap;
}