.cd-month-chart {
    z-index: -1;
    background-color: #120F26;
    opacity: 1;
    background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, #00000011 200px), repeating-linear-gradient(#19153322, #19153300);
}