@use "../../../styles/index.scss" as styles;

.float-input {
    > input {
        color: styles.$text;
        font-family: 'Fira Code';
        border: 1px solid styles.$coolgrey;

        &:focus {
            border: 1px solid styles.$highlight;
            box-shadow: 0px 0px 5px rgba(styles.$highlight, 0.3);
        }
    };

    > input:focus + label {
        color: styles.$highlight;
    };

    > label {
        color: styles.$coolgrey;
    }
}